#section-3 {
    
}

h1.community-header {
    color: #1D6E2F;
    color: rgba(29, 110, 47, 1);
}

.community-image {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0px;
    display: block;
}

