
.boutique-section {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

@media screen and (max-width: 768px) {
    .boutique-section {
        flex-direction: column;
    }
}

.boutique-section div {
    width: 100%;
    padding: 10px;
}

img {
    width: 100%;
}

h1.boutique-header {
    color: #2C5234;
    color: rgba(44, 82, 52, 1);    
}

.boutique-section .logo {
    position: relative;
    bottom: 170px;
    right: -20px;
}