html, body,  #root, .App {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.App-menu ul {
  list-style-type: none;
  padding: 20px;
  margin: 0;
}

.App-menu ul li {
  text-align: right;
}

a:active, a:hover, a:link, a:visited {
  color: white;
  text-decoration: none;
}

.menu-1 {
  margin-right: 5px;
}
.menu-2 {
  margin-right: 10px;
}
.menu-3 {
  margin-right: 15px;
}
.menu-4 {
  margin-right: 22px;
}
.menu-5 {
  margin-right: 24px;
}

.main-section {
  padding-top: 200px;
}

.botique-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.App-footer {
  height:200px;
}

.App-header, .App-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: white;

}

.js-color-stop {
  height: 1200px;;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
