html, body,  #root, .App {
  height: 100%;
  font-family: Arima;
}

.App {
  display: flex;
  flex-direction: column;
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.main-section h1 {
  font-size: 8vw;
  text-transform: lowercase;
}

.main-section {
  padding-top: 200px;
}


.App-footer {
  height:200px;
}

.App-header, .App-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: white;

}

.js-color-stop {
  height: 1200px;;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
