html, body,  #root, .App {
  height: 100%;
  font-family: Arima;
}

.App {
  display: flex;
  flex-direction: column;
}

.main-section h1 {
  margin-left: 60px;
  font-size: 8vw;
  text-transform: lowercase;
}

.main-section {
  padding-top: 200px;
}

.js-color-stop {
  height: 1200px;;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
