
.App-menu ul {
  list-style-type: none;
  padding: 20px;
  margin: 0;
}

.App-menu ul li {
    text-align: right;
}

.App-menu ul li a:link {
  color: #FFFFFF;
  text-decoration: none;
}
.App-menu ul li a:visited {
  color: #FFFFFF;
  text-decoration: none;
}
.App-menu ul li a:hover {
  color: #FFFFFF;
  text-decoration: none;
}
.App-menu ul li a:active {
  color: #FFFFFF;
  text-decoration: none;
}

.App-menu.yellow ul li a:link {
    color: #FDDA24;
    text-decoration: none;
}
.App-menu.yellow ul li a:visited {
    color: #FDDA24;
    text-decoration: none;
}
.App-menu.yellow ul li a:hover {
    color: #FDDA24;
    text-decoration: none;
}
.App-menu.yellow ul li a:active {
    color: #FDDA24;
    text-decoration: none;
}

.menu-1 {
  margin-right: 5px;
}
.menu-2 {
  margin-right: 10px;
}
.menu-3 {
  margin-right: 15px;
}
.menu-4 {
  margin-right: 22px;
}
.menu-5 {
  margin-right: 24px;
}
